<div class="row bg-light">
  <div class="col-12 mb-4">
    <h1><%= t 'invite.index.group_title', group_name: parent.name %></h1>
  </div>

  <div class="col-12">
    <table class="table table-custom">
      <thead class="thead-dark">
        <tr>
          <th><%= t 'invite.index.sender' %></th>

          <th><%= t 'invite.index.receiver' %></th>

          <th><%= t 'invite.index.status' %></th>

          <th><%= t 'invite.index.created_at' %></th>

          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render collection.decorate %>
      </tbody>
    </table>

    <%= paginate collection %>
  </div>
</div>
