<%= simple_form_for resource, url: :profile, wrapper: :horizontal_form,
  html: { class: 'form-horizontal row', id: 'profile-form', style: 'margin-left: 0' } do |f| %>
  <div class="col-xs-12 col-md-3 col-3 avatar">
    <div class="image-input">
      <%= f.file_field :avatar, direct_upload: true, class: 'image-input__input' %>

      <div class="image-input__prompt">
        <i class="image-input__prompt-icon fas fa-upload"></i>
      </div>

      <% if resource.avatar.attached? && resource.avatar.attachment.blob&.image? %>
        <%= image_tag resource.avatar.variant(resize: '300x400^', crop: '300x400+0+0', gravity: 'center'), class: 'img-fluid' %>
      <% else %>
        <%= image_tag 'placeholder.png', class: 'img-fluid' %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-md-9 col-9">
    <%= f.input :name %>

    <%= f.input :username %>

    <%= f.input :skills, input_html: { 'data-role': :tagsinput } %>

    <%= f.input :password %>

    <%= f.input :password_confirmation %>

    <%= f.input :city %>

    <%= f.input :institution %>

    <%= f.input :score, readonly: true, as: :string %>

    <%= f.input :created_at, readonly: true, as: :string, input_html: { value: l(resource.created_at, format: :long) } %>

    <%= f.submit class: 'btn btn-block btn-primary' %>

    <%= link_to t('profile.show.ask_for_confirmation'), :confirmation_requests, method: :post, class: 'btn btn-block btn-primary' \
      if policy(ConfirmationRequest).new? %>

    <%= link_to t('profile.show.problems'), [current_user, :problems], class: 'btn btn-block btn-link' \
      if current_user.confirmed? %>

    <%= link_to t('profile.show.received_invites'), :received_invites, class: 'btn btn-block btn-link' \
      if policy(Invite).index? %>
  </div>
<% end %>
