<div class="page bg-light">
  <%= simple_form_for [parent, resource], remote: true do |f| %>
    <%= f.hidden_field :type, value: 'invite' %>

    <div class="form-group<%= ' form-group-invalid' if resource.errors[:user].present? %>">
      <label class="form-control-label">User</label>

      <input type="text" data-role="user-search" data-target="#membership_user_id" value="<%= resource.decorate.user_name %>"
        class="form-control<%= ' is-invalid' if resource.errors[:user].present? %>">

      <%= f.full_error :user, class: 'invalid-feedback' %>
    </div>

    <%= f.hidden_field :user_id %>

    <%= f.submit t('membership.new.invite'), class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
