<%= simple_form_for resource, url: :session, remote: true do |f| %>
  <%= f.input :email %>

  <%= f.input :password %>

  <div class="form-group">
    <%= recaptcha_tags theme: :dark %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
