<div class="page row bg-light">
  <div class="col-12 mb-4">
    <h1>
      <%= t 'contest.index.title' %>

      <%= link_to t('contest.index.new'), %i(new contest), class: 'btn btn-primary float-right',
          style: 'margin-right: 1rem' if policy(Contest).new? %>
    </h1>
  </div>

  <div class="col-12">
    <table class="table table-custom">
      <thead class="thead-dark">
        <tr>
          <th><%= t 'contest.index.owner' %></th>

          <th><%= t 'contest.index.name' %></th>

          <th><%= t 'contest.index.visibility' %></th>

          <th><%= t 'contest.index.created_at' %></th>
        </tr>
      </thead>

      <tbody>
        <%= render collection.decorate %>
      </tbody>
    </table>

    <%= paginate collection %>
  </div>
</div>
