<div class="row bg-light" style="padding: 15px">
  <%= simple_form_for resource do |f| %>
    <div class="col-xs-12 col-12" style="padding-left: 0">
      <h1>
        <%= t 'problems.new.title' %>

        <%= f.submit class: 'btn btn-default float-right' %>
      </h1>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to t('problems.new.tabs.basic'), '#basic-tab', 'data-toggle': 'tab', class: 'nav-link active' %>
      </li>

      <li class="nav-item">
        <%= link_to t('problems.new.tabs.examples'), '#examples-tab', 'data-toggle': 'tab', class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to t('problems.new.tabs.tests'), '#tests-tab', 'data-toggle': 'tab', class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to t('problems.new.tabs.translations'), '#translations-tab', 'data-toggle': 'tab', class: 'nav-link' %>
      </li>
    </ul>

    <div class="tab-content">
      <%= render 'basic', f: f %>

      <%= render 'examples', f: f %>

      <%= render 'tests', f: f %>

      <%= render 'translations', f: f %>
    </div>
  <% end %>
</div>
