<div id="limits-tab" class="tab-pane fade show active">
  <%= f.input :memory_limit, wrapper: :input_group do %>
    <%= f.input_field :memory_limit, class: 'form-control', value: 32768 %>

    <div class="input-group-append">
      <span class="input-group-text">kb</span>
    </div>
  <% end %>

      <%= f.input :time_limit, wrapper: :input_group do %>
        <%= f.input_field :time_limit, class: 'form-control', value: 100 %>

    <div class="input-group-append">
      <span class="input-group-text">ms</span>
    </div>
  <% end %>

      <%= f.input :real_time_limit, wrapper: :input_group do %>
        <%= f.input_field :real_time_limit, class: 'form-control', value: 5000 %>

         <div class="input-group-append">
      <span class="input-group-text">ms</span>
    </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= f.input :checker_compiler_id, collection: Compiler.status_public, include_blank: false %>

      <%= f.input :checker_source %>
    </div>
  </div>
</div>
