
<div class="translation">
  <div class="row">
    <div class="col-xs-4 col-4">
      <%= f.input :language, wrapper: :input_group do %>
        <div class="input-group-prepend">
          <span class="input-group-text"><%= f.input_field :default %></span>
        </div>

        <%= f.input_field :language, collection: language_select_options, include_blank: false, class: 'form-control' %>
      <% end %>
    </div>

    <div class="col-xs-4 col-4">
      <%= f.input :caption %>
    </div>

    <div class="col-xs-4 col-4">
      <%= f.input :author %>
    </div>
  </div>

  <%= f.input :text, as: :text %>

  <%= f.input :technical_text, as: :text %>
</div>
