<div class="translation nested-fields">
  <div class="clearfix translation__top">
    <div class="row float-left">
      <div class="col-4">
        <%= f.input :language, collection: language_select_options, include_blank: false,
          wrapper: :input_group, prepend: f.input_field(:default) %>
      </div>

      <div class="col-4">
        <%= f.input :caption %>
      </div>

      <div class="col-4">
        <%= f.input :author %>
      </div>
    </div>

    <div class="float-right">
       <%= link_to_remove_association f, class: 'btn btn-danger' do %>
          <i class="fas fa-times"></i>
        <% end %>
    </div>
  </div>

  <%= f.input :text, as: :text, :input_html => { :data => {:textarea => "ckeditor"} } %>

  <%= f.input :technical_text, as: :text, :input_html => { :data => {:textarea => "ckeditor"} } %>
</div>
