<div class="row bg-light">
  <div class="col-xs-12">
    <h1><%= t 'problems.index.title' %></h1>
  </div>

  <div class="col-xs-12">
    <div class="row list-row">
      <div class="list-row__col col-md-1">
        <%= t 'problems.index.number' %>
      </div>

      <div class="list-row__col col-md-9">
        <%= t 'problems.index.name' %>
      </div>

      <div class="list-row__col col-md-2">
        <%= t 'problems.index.difficulty' %>
      </div>
    </div>

    <%= render collection %>

    <%= paginate collection %>
  </div>
</div>
