<div class="row bg-light">
  <div class="col-12 mb-4">
    <h1>
      <%= t 'problems.index.title' %>

      <%= link_to 'New from archive', %i(new archive), class: 'btn btn-primary float-right' if policy(Archive).new? %>

      <%= link_to 'New', %i(new problem), class: 'btn btn-primary float-right',
        style: 'margin-right: 1rem' if policy(Problem).new? %>
    </h1>
  </div>

  <div class="col-12">
    <table class="table table-custom">
      <thead class="thead-dark">
        <tr>
          <th><%= t 'problems.index.number' %></th>

          <th><%= t 'problems.index.name' %></th>

          <th><%= t 'problems.index.difficulty' %></th>
        </tr>
      </thead>

      <tbody>
        <%= render collection.decorate %>
      </tbody>
    </table>

    <%= paginate collection %>
  </div>
</div>
