<div class="row bg-light" style="padding: 15px">
  <div class="col-xs-12" style="padding-left: 0">
    <h1><%= t 'problems.new.title' %></h1>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><%= link_to t('problems.new.tabs.limits'), '#limits', 'data-toggle': 'tab' %></li>

    <li><%= link_to t('problems.new.tabs.tests'), '#tests', 'data-toggle': 'tab' %></li>

    <li><%= link_to t('problems.new.tabs.translations'), '#translations', 'data-toggle': 'tab' %></li>

    <li><%= link_to t('problems.new.tabs.checker'), '#checker', 'data-toggle': 'tab' %></li>
  </ul>

  <%= simple_form_for resource do |f| %>
    <div class="tab-content">
      <%= render 'limits', f: f %>

      <%= render 'tests', f: f %>

      <%= render 'translations', f: f %>

      <%= render 'checker', f: f %>
    </div>

    <br>

    <%= f.submit class: 'btn btn-default' %>
  <% end %>
</div>
