<div class="row bg-light" style="padding: 15px">
  <%= simple_form_for resource do |f| %>
    <div class="col-xs-12" style="padding-left: 0">
      <h1>
        <%= t 'problems.new.title' %>

        <%= f.submit class: 'btn btn-default pull-right' %>
      </h1>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><%= link_to t('problems.new.tabs.limits'), '#limits-tab', 'data-toggle': 'tab' %></li>

      <li><%= link_to t('problems.new.tabs.examples'), '#examples-tab', 'data-toggle': 'tab' %></li>

      <li><%= link_to t('problems.new.tabs.tests'), '#tests-tab', 'data-toggle': 'tab' %></li>

      <li><%= link_to t('problems.new.tabs.translations'), '#translations-tab', 'data-toggle': 'tab' %></li>

      <li><%= link_to t('problems.new.tabs.checker'), '#checker-tab', 'data-toggle': 'tab' %></li>
    </ul>

    <div class="tab-content">
      <%= render 'limits', f: f %>

      <%= render 'examples', f: f %>

      <%= render 'tests', f: f %>

      <%= render 'translations', f: f %>

      <%= render 'checker', f: f %>
    </div>
  <% end %>
</div>
