<div class="bg-white">
  <div class="section">
    <h2><%= resource.caption %></h2>

    <p><%= simple_format resource.text if resource.text.present? %></p>
  </div>

  <div class="section">
    <h2><%= t 'problems.show.technical_text' %></h2>

    <p><%= simple_format resource.technical_text if resource.technical_text.present? %></p>
  </div>

  <%= content_tag :div, class: 'section' do %>
    <h2><%= t 'problems.show.examples' %></h2>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h3><%= t 'problems.show.example_input' %></h3>
      </div>

      <div class="col-md-6 col-xs-12">
        <h3><%= t 'problems.show.example_output' %></h3>
      </div>
    </div>

    <% resource.examples.each do |example| %>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <p class="problem-example"><%= example.input %></p>
        </div>

        <div class="col-md-6 col-xs-12">
          <p class="problem-example"><%= example.answer %></p>
        </div>
      </div>
    <% end %>
  <% end if resource.examples.any? %>

  <div class="section">
    <i class="fa fa-certificate" aria-hidden="true"></i>

    <ol class="tags">
      <% resource.tags.each do |tag| %>
        <li><%= link_to tag.name, [tag, :problems] %></li>
      <% end %>
    </ol>
  </div>

  <div class="section">
    <i class="far fa-address-book" aria-hidden="true"></i>

    <%= resource.author %>
  </div>

  <%= content_tag :div, class: 'section' do %>
    <%= render 'submissions/form', parent: resource, resource: Submission.new %>
  <% end if current_user %>
</div>
