<tr data-href="<%= url_for compiler %>">
  <td><%= compiler.id  %></td>

  <td><%= compiler.name %></td>

  <td><%= compiler.version %></td>

  <td><%= compiler.status.humanize %></td>
</tr>
