<%= simple_form_for resource, remote: true do |f| %>
  <div class="page row bg-light">
    <div class="col-12">
      <%= f.input :id, readonly: true %>

      <%= f.input :name %>
    </div>

    <div class="col-6">
      <%= f.input :version %>

      <%= f.input :memory_a %>

      <%= f.input :memory_b %>
    </div>

    <div class="col-6">
      <%= f.input :status, as: :select, collection: Compiler.statuses.keys, include_blank: false %>

      <%= f.input :time_a %>

      <%= f.input :time_b %>
    </div>

    <div class="col-12">
      <%= f.input :config, as: :text %>
    </div>

    <div class="col-12">
      <%= f.submit class: 'btn btn-primary float-left' %>

      <%= link_to t('compiler.form.destroy'), resource, method: :delete, remote: true, class: 'btn btn-danger float-right',
        data: { confirm: t('confirm') } if policy(resource).destroy? %>
    </div>
  </div>
<% end %>
