<div class="row bg-light">
  <div class="col-xs-12 col-12">
    <h1>
      <%= t 'compiler.index.title' %>

      <%= link_to 'New', %i(new compiler), class: 'btn btn-default float-right', style: 'margin-right: 1rem' %>
    </h1>
  </div>

  <div class="col-xs-12 col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th><%= t 'compiler.index.id' %></th>

          <th><%= t 'compiler.index.name' %></th>

          <th><%= t 'compiler.index.version' %></th>

          <th><%= t 'compiler.index.status' %></th>
        </tr>
      </thead>

      <tbody>
        <%= render collection %>
      </tbody>
    </table>

    <%= paginate collection %>
  </div>
</div>
