<div class="page bg-light">
  <div class="page__title">
    <h1><%= t 'compiler.index.title' %></h1>

    <%= link_to t('compiler.index.new'), %i(new compiler), class: 'btn btn-primary' %>
  </div>

  <table class="table table-custom">
    <thead class="thead-dark">
      <tr>
        <th><%= t 'compiler.index.id' %></th>

        <th><%= t 'compiler.index.name' %></th>

        <th><%= t 'compiler.index.version' %></th>

        <th><%= t 'compiler.index.status' %></th>
      </tr>
    </thead>

    <tbody>
      <%= render collection %>
    </tbody>
  </table>

  <%= paginate collection %>
</div>
