<div class="row bg-light">
  <div class="col-12">
    <h1><%= resource.name %></h1>

    <div class="alert alert-info" role="alert">
      <%= resource.visibility_icon %>

      <%= t resource.visibility, scope: 'group.show.visibility' %>
    </div>
  </div>

  <div class="col-8">
    <%= simple_format resource.description %>
  </div>

  <div class="col-4">
    <h2><%= t 'group.show.members' %></h2>

    <div class="list-group mb-2">
      <% resource.users.each do |user| %>
        <div class="list-group-item">
          <%= user.name %>
        </div>
      <% end %>

      <%= link_to t('group.show.invite'), [:new, resource, :invite],
        class: 'list-group-item btn btn-outline-primary btn-sm btn-block' if policy(resource).edit? %>
    </div>
  </div>

  <div class="col-12">
    <%= link_to t('group.show.edit'), [:edit, resource], class: 'btn btn-default btn-block' if policy(resource).edit? %>
  </div>
</div>
