<div class="page row bg-light">
  <div class="col-12">
    <h1><%= resource.name %></h1>

    <div class="alert alert-info">
      <%= resource.visibility_icon %>

      <%= t resource.visibility, scope: 'group.show.visibility' %>
    </div>
  </div>

  <div class="col-8">
    <h3><%= t 'group.show.description' %></h3>

    <%= simple_format resource.description %>
  </div>

  <% if current_user == resource.owner || resource.current_user_membership_state_accepted? %>
    <div class="col-4">
      <h3 class="text-center"><%= t 'group.show.members' %></h3>

      <div class="list-group mb-2">
        <div class="member-list">
          <% resource.accepted_memberships.each do |membership| %>
            <div class="list-group-item member-list__item">
              <div class="d-flex flex-column">
                <%= membership.user.name %>

                <small class="text-muted"><%= membership.user.username %></small>
              </div>

              <%= link_to membership, method: :delete, class: 'btn btn-sm btn-danger' do %>
                <i class="fas fa-times"></i>
              <% end if policy(membership).destroy? %>
            </div>
          <% end %>
        </div>

        <div class="member-list-actions">
          <%= link_to t('group.show.new_membership'), [:new, resource, :membership],
            class: 'list-group-item btn btn-outline-primary btn-sm btn-block' if policy(resource).new_invite? %>

          <%= link_to t('group.show.membership_list'), [resource, :memberships],
            class: 'list-group-item btn btn-outline-primary btn-sm btn-block mt-0' if policy(resource).index_memberships? %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <%= link_to t('group.show.edit'), [:edit, resource], class: 'btn btn-primary btn-block' if policy(resource).edit? %>

      <%= link_to t('group.show.create_sharing'), [:new, resource, :sharing], class: 'btn btn-primary btn-block' \
        if policy(resource).new_sharing? %>

      <%= link_to t('group.show.submission_list'), [resource, :submissions], class: 'btn btn-link btn-block' %>

      <%= link_to t('group.show.problem_list'), [resource, :problems], class: 'btn btn-link btn-block' %>

      <%= link_to t('group.show.standings'), [resource, :standing], class: 'btn btn-link btn-block' %>
    </div>
  <% elsif resource.current_user_membership_state_requested? || resource.current_user_membership_state_invited? %>
    <div class="col-12">
      <div class="alert alert-warning">
        <%= t 'group.show.pending_member' %>
        
        <%= link_to resource.current_user_membership, method: :delete, remote: true, class: 'badge badge-danger ml-3' do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="col-12">
      <div class="alert alert-warning"><%= t 'group.show.not_a_member' %></div>

      <%= render 'memberships/request_form', parent: resource, resource: Membership.new %>
    </div>
  <% end %>
</div>
