<tr class="row list-row">
    <td class="list-row__col col-md-1 col-sm-1 col-xs-1"><%= result.test_num %></td>

    <td class="list-row__col col-md-3 col-sm-3 col-xs-3"><%= result.status.humanize %></td>

    <td class="list-row__col col-md-2 col-sm-3 col-xs-3"><%= result.time %> ms</td>

    <td class="list-row__col col-md-2 col-sm-2 col-xs-2"><%= result.memory %> kb</td>

  <% if result.log? %>
    <td class="list-row__col col-md-4">
      <button class="btn btn-default btn-xs pull-right" data-toggle="collapse" data-target="#<%= dom_id result %>-log">
        +
      </button>
    </td>

    <td class="row">
      <div class="col-xs-12 collapse" id="<%= dom_id result %>-log">
        <pre><%= result.log %></pre>
      </div>
    </td>
  <% end %>
</tr>
