<tr>
  <td><%= result.test_num %></td>

  <td><%= result.status.humanize %></td>

  <td><%= result.time %> ms</td>

  <td><%= result.memory %> kb</td>

  <td>
    <% if result.log? %>
      <button class="btn btn-default btn-xs float-right" data-toggle="collapse" data-target="#log-<%= result.test_num %>">
        +
      </button>

      <div id="log-<%= result.test_num %>" aria-expanded="false" class="collapse"><pre><%= result.log %></pre></div>
    <% end %>
  </td>
</tr>
