<div class="header">
  <%= link_to current_user ? :profile : :root do %>
    <%= image_tag 'codelabs.png', class: 'header__logo' %>
  <% end %>

  <div class="header-section">
    <div class="header-section__item">
      <%= link_to t('header.problems'), :problems %>
    </div>

    <div class="header-section__item">
      <%= link_to t('header.submissions'), :submissions %>
    </div>
  </div>

  <div class="header-section">
    <div class="header-section__item">
      <% if current_user %>
        <%= link_to t('header.signout'), :session, method: :delete %>
      <% else %>
        <%= link_to t('header.signin'), %i(new session) %>
      <% end %>
    </div>

    <div class="header-section__item dropdown">
      <a data-toggle="dropdown"><%= I18n.locale %> <span class="caret"></span></a>

      <ul class="dropdown-menu dropdown-menu-right">
        <% I18n.available_locales.each do |locale| %>
          <li><%= link_to t(:language, locale: locale), { language: locale } %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
