<div class="header">
  <%= link_to current_user ? :profile : :root do %>
    <%= image_tag 'codelabs.png', class: 'header__logo' %>
  <% end %>

  <div class="header-section">
    <%= link_to t('header.problems'), :problems, class: 'header-section__item' %>

    <%= link_to t('header.submissions'), :submissions, class: 'header-section__item' %>
  </div>

  <div class="header-section">
    <% if current_user %>
      <%= link_to t('header.signout'), :session, method: :delete, class: 'header-section__item' %>
    <% else %>
      <%= link_to t('header.signin'), %i(new session), class: 'header-section__item' %>
    <% end %>

    <% if params[:language] == 'en' %>
      <%= link_to :ru, { language: :ru }, class: 'header-section__item' %>
    <% else %>
      <%= link_to :en, { language: :en }, class: 'header-section__item' %>
    <% end %>
  </div>
</div>
