<div class="header">
  <%= link_to current_user ? :profile : :root do %>
    <%= image_tag 'codelabs.png', class: 'header__logo' %>
  <% end %>

  <div class="header-section">
    <div class="header-section__item">
      <%= link_to t('header.problems'), :problems %>
    </div>

    <div class="header-section__item">
      <%= link_to t('header.submissions'), :submissions %>
    </div>

    <% if policy(Compiler).index? %>
      <div class="header-section__item">
        <%= link_to t('header.compilers'), :compilers %>
      </div>
    <% end %>

    <% if policy(Worker).index? %>
      <div class="header-section__item">
        <%= link_to t('header.workers'), :workers %>
      </div>
    <% end %>
  </div>

  <div class="header-section">
    <div class="header-section__item">
      <% if current_user %>
        <%= link_to t('header.signout'), :session, method: :delete %>
      <% else %>
        <%= link_to t('header.signin'), %i(new session) %>
      <% end %>
    </div>

    <div class="header-section__item dropdown show">
      <a data-toggle="dropdown" class="dropdown-toggle"><%= I18n.locale %></a>

      <div class="dropdown-menu dropdown-menu-right">
        <% I18n.available_locales.each do |locale| %>
        <%= link_to t(:language, locale: locale), { language: locale }, class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
