<div class="header">
  <%= link_to current_user ? :profile : :root do %>
    <%= image_tag 'codelabs.png', class: 'header__logo' %>
  <% end %>

  <div class="header-section">
    <%= content_tag :div, class: 'header-section__item' do %>
      <%= link_to t('header.problems'), :problems %>
    <% end if policy(Problem).index? %>

    <%= content_tag :div, class: 'header-section__item' do %>
      <%= link_to t('header.submissions'), :submissions %>
    <% end if policy(Submission).index? %>

    <%= content_tag :div, class: 'header-section__item' do %>
      <%= link_to t('header.compilers'), :compilers %>
    <% end if policy(Compiler).index?  %>

    <%= content_tag :div, class: 'header-section__item' do %>
      <%= link_to t('header.groups'), :groups %>
    <% end if policy(Group).index? %>

    <%= content_tag :div, class: 'header-section__item' do %>
      <%= link_to t('header.confirmation_requests'), :confirmation_requests %>
    <% end if policy(ConfirmationRequest).index? %>
  </div>

  <div class="header-section">
    <div class="header-section__item">
      <% if current_user %>
        <%= link_to t('header.signout'), :session, method: :delete %>
      <% else %>
        <%= link_to t('header.signin'), %i(new session) %>
      <% end %>
    </div>

    <div class="header-section__item dropdown show">
      <a data-toggle="dropdown" class="dropdown-toggle"><%= I18n.locale %></a>

      <div class="dropdown-menu dropdown-menu-right">
        <% I18n.available_locales.each do |locale| %>
          <%= link_to t(:language, locale: locale), { language: locale }, class: 'dropdown-item' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
