<div class="row list-row">
  <div class="list-row__col col-md-1"><%= t 'results.index.num' %></div>

  <div class="list-row__col col-md-3"><%= t 'results.index.status' %></div>

  <div class="list-row__col col-md-2"><%= t 'results.index.time' %></div>

  <div class="list-row__col col-md-2"><%= t 'results.index.memory' %></div>
</div>

<%= render resource.results.includes(:test).order('tests.num') %>
