<% url = url_for submission if policy(submission).show? %>

<%= content_tag :tr, class: 'row list-row', 'data-href': url do %>
<td class="list-row__col list-row__col--with-border col-md-1 col-sm-1 col-xs-1 col-1">
    <%= submission.id %>
  </td>

<td class="list-row__col list-row__col--with-border col-md-5 col-sm-5 col-xs-5 col-5">
    <%= submission.problem_caption %>
  </td>

<td class="list-row__col list-row__col--with-border col-md-3 col-sm-3 col-xs-3 col-3">
    <%= submission.user_name %>
  </td>

<td class="list-row__col col-md-3 col-sm-3 col-xs-3 col-3">
    <%= submission.state %>
  </td>
<% end %>
