<tr>
  <td>
    <% if policy(submission).show? %>
      <%= link_to submission.id, submission %>
    <% else %>
      <%= submission.id %>
    <% end %>
  </td>

  <td>
    <% if policy(submission.problem).show? %>
      <%= link_to submission.problem_caption, submission.problem %>
    <% else %>
      <%= submission.problem_caption %>
    <% end %>
  </td>

  <td><%= submission.user_name %></td>

  <td><%= submission.compiler.name %></td>

  <td><%= submission.state %></td>
</tr>
