<% url = url_for submission if policy(submission).show? %>

<%= content_tag :div, class: 'row list-row', 'data-href': url do %>
  <div class="list-row__col list-row__col--with-border col-md-1">
    <%= submission.id %>
  </div>

  <div class="list-row__col list-row__col--with-border col-md-5">
    <%= submission.problem_caption %>
  </div>

  <div class="list-row__col list-row__col--with-border col-md-3">
    <%= submission.user_name %>
  </div>

  <div class="list-row__col col-md-3">
    <%= submission.state %>
  </div>
<% end %>
