<% url = url_for submission if policy(submission).show? %>

<%= content_tag :tr, 'data-href': url do %>
  <td><%= submission.id %></td>

  <td><%= submission.problem_caption %></td>

  <td><%= submission.user_name %></td>

  <td><%= submission.state %></td>
<% end %>
