<div class="row bg-light" style="padding: 20px;">
    <div class="col-xs-12" style="padding: 0;">
        <h1><%= t 'submissions.index.title' %></h1>
    </div>

    <h3>Сортировать по </h3>
    <ol>
        <li>Пользователю: <input id="sortByUser" class="form-control" type="text" data-role="tagsinput"/></li>
        <li>Задаче: <input id="sortByTask" class="form-control" type="text" data-role="tagsinput"/></li>
        <li>Статусу: <input id="sortByStatus" class="form-control" type="text" data-role="tagsinput"/></li>
    </ol>

    <table class="col-xs-12">
        <tr class="row list-row">
            <th class="list-row__col col-md-1">
                <%= t 'submissions.index.id' %>
            </th>

            <th class="list-row__col col-md-5">
                <%= t 'submissions.index.problem_name' %>
            </th>

            <th class="list-row__col col-md-3">
                <%= t 'submissions.index.user_name' %>
            </th>

            <th class="list-row__col col-md-3">
                <%= t 'submissions.index.state' %>
            </th>
        </tr>

        <%= render collection.decorate %>
    </table>

    <%= paginate collection %>
</div>