<div class="row bg-light">
  <div class="col-xs-12">
    <h1><%= t 'submissions.index.title' %></h1>
  </div>

  <div class="col-xs-12">
    <div class="row list-row">
      <div class="list-row__col col-md-1">
        <%= t 'submissions.index.id' %>
      </div>

      <div class="list-row__col col-md-5">
        <%= t 'submissions.index.problem_name' %>
      </div>

      <div class="list-row__col col-md-3">
        <%= t 'submissions.index.user_name' %>
      </div>

      <div class="list-row__col col-md-3">
        <%= t 'submissions.index.state' %>
      </div>
    </div>

    <%= render collection.decorate %>

    <%= paginate collection %>
  </div>
</div>
