<div class="row bg-light">
  <div class="col-12 mb-4">
    <h1><%= t 'submissions.index.title' %></h1>
  </div>

  <%#

  <div class="col-12">
    <h3>Сортировать по </h3>

    <div class="row" style="margin-bottom: 15px;">
      <div class="col-12 col-lg-6 col-md-6 col-sm-6">
        Пользователю:

        <input id="sortByUser" class="form-control" type="text">
      </div>

      <div class="col-12 col-lg-6 col-md-6 col-sm-6">
        Задаче:

        <input id="sortByTask" class="form-control" type="text">
      </div>

      <div class="col-12 col-lg-6 col-md-6 col-sm-6">
        Статусу:

        <select id="sortByStatus" class="form-control">
          <option value="fail">Failed</option>
          <option value="ok">Ok</option>
          <option value="error">Compiler error</option>
        </select>
      </div>

      <div class="col-12 col-lg-6 col-md-6 col-sm-6">
        Группе:

        <input id="sortByGroup" class="form-control" type="text">
      </div>
    </div>
  </div>

  %>

  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th><%= t 'submissions.index.id' %></th>

          <th><%= t 'submissions.index.problem_name' %></th>

          <th><%= t 'submissions.index.user_name' %></th>

          <th><%= t 'submissions.index.compiler' %></th>

          <th><%= t 'submissions.index.state' %></th>
        </tr>
      </thead>

      <tbody>
        <%= render collection.decorate %>
      </tbody>
    </table>

    <%= paginate collection %>
  </div>
</div>
