<div class="row bg-light">
  <div class="col-xs-12">
    <h1><%= t 'submissions.index.title' %></h1>
  </div>

  <div class="col-xs-12">
    <div class="row list-row">
      <div class="list-row__col col-md-1 text-center">
        <%= t 'submissions.index.id' %>
      </div>

      <div class="list-row__col col-md-6 text-center">
        <%= t 'submissions.index.problem_name' %>
      </div>

      <div class="list-row__col col-md-3 text-center">
        <%= t 'submissions.index.user_name' %>
      </div>

      <div class="list-row__col col-md-2 text-center">
        <%= t 'submissions.index.test_state' %>
      </div>
    </div>

    <%= render collection %>

    <%= paginate collection %>
  </div>
</div>
