<div class="row bg-light" style="padding: 20px;">
    <div class="col-xs-12" style="padding: 0;">
        <h1><%= t 'submissions.index.title' %></h1>
    </div>

    <h3>Сортировать по </h3>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">Пользователю: <input id="sortByUser"
                                                                                     class="form-control" type="text">
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">Задаче: <input id="sortByTask" class="form-control"
                                                                               type="text"></div>

        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">Статусу: <input id="sortByStatus" class="form-control"
                                                                                type="text"></div>

        <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">Группе: <input id="sortByGroup" class="form-control"
                                                                               type="text"></div>
    </div>

    <table class="col-xs-12">
        <tr class="row list-row">
            <th class="list-row__col col-md-1">
                <%= t 'submissions.index.id' %>
            </th>

            <th class="list-row__col col-md-5">
                <%= t 'submissions.index.problem_name' %>
            </th>

            <th class="list-row__col col-md-3">
                <%= t 'submissions.index.user_name' %>
            </th>

            <th class="list-row__col col-md-3">
                <%= t 'submissions.index.state' %>
            </th>
        </tr>

        <%= render collection.decorate %>
    </table>

    <%= paginate collection %>
</div>