<div class="row bg-white">
  <div class="col-xs-12">
    <h1><%= t 'submissions.show.title', id: resource.id %></h1>

    <p><%= t 'submissions.show.problem' %>: <%= link_to resource.problem_caption, resource.problem %></p>

    <p><%= t 'submissions.show.user_name' %>: <%= resource.user_name %></p>

    <p><%= t 'submissions.show.state' %>: <%= resource.state %></p>
  </div>

  <div class="col-xs-12">
    <% if resource.test_state_failed? || resource.test_result_testing_error? %>
      <%= t 'submissions.show.failed' %>
    <% elsif resource.test_result_compiler_error? %>
      <ul class="nav nav-tabs">
        <li><a disabled><%= t 'submissions.show.results' %></a></li>

        <li class="active"><a href="#compiler-log"" data-toggle="tab"><%= t 'submissions.show.compiler_log' %></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="compiler-log"><%= simple_format resource.log_data %></div>
      </div>
    <% else %>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#results" data-toggle="tab"><%= t 'submissions.show.results' %></a></li>

        <li><a href="#compiler-log"" data-toggle="tab"><%= t 'submissions.show.compiler_log' %></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="results"><%= render 'results' %></div>

        <div class="tab-pane fade" id="compiler-log"><%= simple_format resource.log_data %></div>
      </div>
    <% end %>
  </div>
</div>
