<div class="page bg-white position-relative">
  <div class="side-buttons">
    <%= link_to [resource, :retest], class: 'btn btn-warning mb-2',
      data: { confirm: t('confirm'), remote: true, method: :post } do %>
      <i class="fas fa-sync"></i>
    <% end if policy(Submission::Retest.new resource).new? %>

    <%= link_to resource, method: :delete, remote: true, class: 'btn btn-danger', data: { confirm: t('confirm') } do %>
      <i class="fas fa-times"></i>
    <% end if policy(resource).destroy? %>
  </div>

  <div>
    <h1><%= t 'submissions.show.title', id: resource.id %></h1>

    <p><%= t 'submissions.show.problem' %>: <b><%= link_to resource.problem_caption, resource.problem %></b></p>

    <p><%= t 'submissions.show.user_name' %>: <b><%= resource.user_name %></b></p>

    <p><%= t 'submissions.show.state' %>: <b><%= resource.state %></b></p>

    <p><%= t 'submissions.show.time_limit' %>: <b><%= resource.time_limit %></b> ms</p>

    <p><%= t 'submissions.show.memory_limit' %>: <b><%= resource.memory_limit %></b> kb</p>
  </div>

  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to t('submissions.show.results'), '#results', class: 'nav-link active', 'data-toggle': 'tab' %>
      </li>

      <li class="nav-item">
        <%= link_to t('submissions.show.compiler_log'), '#compiler-log', class: 'nav-link', 'data-toggle': 'tab' %>
      </li>

      <li class="nav-item">
        <%= link_to t('submissions.show.source'), '#source', class: 'nav-link', 'data-toggle': 'tab' %>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="results">
        <% if resource.test_state_failed? %>
          <p><%= t 'submissions.show.test_state_failed' %></p>
        <% elsif resource.test_result_compiler_error? %>
          <p><%= t 'submissions.show.test_result_compiler_error' %></p>
        <% else %>
          <table class="table table-custom">
            <thead class="thead-dark">
              <tr>
                <th><%= t 'results.index.num' %></th>

                <th><%= t 'results.index.status' %></th>

                <th><%= t 'results.index.time' %></th>

                <th><%= t 'results.index.memory' %></th>

                <th></th>
              </tr>
            </thead>

            <tbody>
              <%= render resource.results.includes(:test).order('tests.num') %>
            </tbody>
          </table>
        <% end %>
      </div>

      <div class="tab-pane fade" id="compiler-log"><%= render 'compiler_log' %></div>

      <div class="tab-pane fade" id="source"><%= render 'source' %></div>
    </div>
  </div>
</div>
