<div class="row bg-white">
    <div class="col-xs-12">
        <h1><%= t 'submissions.show.title', id: resource.id %></h1>

        <p><%= t 'submissions.show.problem' %>: <b><%= link_to resource.problem_caption, resource.problem %></b></p>

        <p><%= t 'submissions.show.user_name' %>: <b><%= resource.user_name %></b></p>

        <p><%= t 'submissions.show.state' %>: <b><%= resource.state %></b></p>

        <p><%= t 'submissions.show.time_limit' %>: <b><%= resource.time_limit %></b> ms</p>

        <p><%= t 'submissions.show.memory_limit' %>: <b><%= resource.memory_limit %></b> kb</p>
    </div>

    <div class="col-xs-12">
        <% if resource.test_state_failed? %>
        <%= t 'submissions.show.failed' %>
        <% elsif resource.test_result_compiler_error? %>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#compiler-log" data-toggle="tab"><%= t 'submissions.show.compiler_log' %></a>
            </li>

            <li><a href="#source" data-toggle="tab"><%= t 'submissions.show.source' %></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="compiler-log"><%= render 'compiler_log' %></div>

            <div class="tab-pane fade" id="source"><%= render 'source' %></div>
        </div>
        <% else %>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#results" data-toggle="tab"><%= t 'submissions.show.results' %></a></li>

            <li><a href="#compiler-log" data-toggle="tab"><%= t 'submissions.show.compiler_log' %></a></li>

            <li><a href="#source" data-toggle="tab"><%= t 'submissions.show.source' %></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="results">
                <table style="border-collapse: collapse">
                    <%= render 'results' %>
                </table>
            </div>

            <div class="tab-pane fade" id="compiler-log"><%= render 'compiler_log' %></div>

            <div class="tab-pane fade" id="source"><%= render 'source' %></div>
        </div>
        <% end %>
    </div>
</div>
