<div class="row bg-light">
  <div class="col-12 mb-4">
    <h1><%= t 'confirmation_requests.index.title' %></h1>
  </div>

  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th><%= t 'confirmation_requests.index.user_id' %></th>

          <th><%= t 'confirmation_requests.index.user_name' %></th>

          <th><%= t 'confirmation_requests.index.user_username' %></th>

          <th><%= t 'confirmation_requests.index.status' %></th>

          <th><%= t 'confirmation_requests.index.created_at' %></th>

          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: 'confirmation_request', collection: collection %>
      </tbody>
    </table>

    <%= paginate collection %>
  </div>
</div>
