<%= content_tag :div, class: "card #{ worker.status_class } mb-3 worker-card" do %>
  <div class="card-header d-flex justify-content-between align-items-center">
    <%= worker.name %>

    <%= link_to worker, class: 'btn btn-danger', remote: true, method: :delete do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>

  <div class="card-body">
    <p class><b>IPs:</b> <%= worker.ips.to_sentence(two_words_connector: ', ', last_word_connector: ', ') %></h5>

    <p class="card-text">
      <%= worker.api_type %> api version <%= worker.api_version %>

      <%= worker.webhook_supported ? 'with' : 'without' %> webhook support
    </p>

    <% if worker.task_status? %>
      <p class="card-title"><b>Tasks:</b></p>

      <% worker.task_status.each do |status| %>
        <p class="card-text"><%= status %></p>
      <% end %>
    <% end %>

    <p class="card-text"><small class="text-muted">
      Last update at <%= l worker.updated_at %> (<%= time_ago_in_words worker.updated_at, include_seconds: true %> ago)
    </small></p>
  </div>
<% end %>
