<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta name="theme-color" content="#8c3f01">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= yield :head %>

    <title>CodeLabs</title>

    <%= csrf_meta_tags %>

    <%= csp_meta_tag %>

    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag :application, media: :all, 'data-turbolinks-track': :reload %>

    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.0.13/css/all.css',
      media: :all, crossorigin: :anonymous %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' %>

    <%= javascript_include_tag :ckeditor, 'data-turbolinks-track': :reload %>

    <%= javascript_include_tag :application, 'data-turbolinks-track': :reload %>
  </head>

  <body data-flash="<%= flash.to_json %>">
    <%= render 'widgets/snow' %>

    <%= render 'widgets/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'widgets/footer' %>
  </body>
</html>
